body{
    background-color: #2D3250;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
.projects{
    display: flex;
    align-content: center;
    flex-direction: column;
    font-family: "impact";
    padding:1.5vh;
    margin-bottom: 1vh;
    text-decoration: underline;
    font-size: 3em;
    color: #B7BBD0;
}
.projects:hover{
    background-color: #424769;
    border-radius: 8px;
}
.backButton{
    position: absolute;
    left:5vh;
    top: 3vh;
    padding: 0.5vh 1vh;
    font-size: 1.5em;
    color:#7077A1
}
.backButton:hover{
    background-color: #424769;
    
    border-radius: 20%;
    text-decoration: none;

}