table{
    width: 100%;
    
}
.leaderboard {
    position: relative;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #5e5d5e;
    
    
  

    
}
.logo {
    height: 7%;
    width: 7%; /* Adjust the width as needed */
    display: inline-block; /* Ensure the image is inline with the text */
    vertical-align: middle;
    padding-right: 2%;
}
.leaderboard td, .leaderboard th {
    border-bottom: 1px solid #f2e6e6; /* Thin grey line */
}



.topRow{
    /* font + text */
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 25%;
    text-decoration: rgb(135,102,138);
    background-color: #FBFAFA;

    /* color + background */
    color: #87688A;

    position: sticky;
    top:0;
    background-color: #FBFAFA;
    
    
    
}



.club{
    text-align: left;

}
td, th {
    

    padding: 8px;
  }


/* phone screen accounts for  */

@media only screen and (max-width: 600px) {
    .leaderboard {
        font-size: 12px; /* Reduce font size on smaller screens */
    }
    
    .logo {
        height: 7vw; /* Set logo size relative to the viewport width */
        width: 7vw;
    }

    td, th {
        padding: 4px; /* Reduce padding */
    }

    .leaderboard {
        overflow-x: auto; /* Ensure horizontal scrolling doesn't happen */
        white-space: nowrap; /* Prevent text from wrapping */
    }
    .points{
        position: sticky;
        right: 0;
        background-color: #fff; /* Background color to avoid overlap */
        z-index: 1;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow to make it stand out */
    
    }
}


