.table-container { 
    background: white; 
    border-radius: 12px; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.05); 
}
.badge-pending { 
    background-color: #e2e8f0;
    color: #4a5568; 
}
.badge-win { 
    background-color: #c6f6d5; 
    color: #22543d; 
}
.badge-loss { 
    background-color: #fed7d7; 
    color: #822727; 
}
.sport-icon { 
    font-size: 0.8rem; 
    font-weight: bold; 
    color: #718096; 
    text-transform: uppercase; 
}
#winRate{
    color: green;
}
#lossRate{
    color: red;
}
