*{
    margin: 0;
    padding: 0;
}
.inputContainer{
    margin: 20px;
    margin-top: 10vh;
}
.numElementsContainer,.sortSelectionContainer,.startStopContainer,.speedContainer{
    margin-bottom: 10px;
}
.startStopContainer,.speedContainer{
   
    display: flex;

    
}
.startStopContainer button{
    margin-right:8px;
    height: 30px;
    width: 80px;
}
.speedContainer button{
    margin-right:8px;
    height: 30px;
    width: 80px;

}

.rectangle{
    background-color: black;
    
}
.rectangles{
    display: flex;
    align-items: flex-end;
    position:fixed;
    bottom: 0;
    width: 100%;
    
    justify-content: center;
    
}
.backButton{
    position: absolute;
    left:5vh;
    top: 3vh;
    padding: 0.5vh 1vh;
    font-size: 1.5em;
    color:#7077A1
}
.backButton:hover{
    background-color: #424769;
    
    border-radius: 20%;
    text-decoration: none;

}
