
body, html {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure full width */
    overflow-x: hidden; /* Prevent horizontal scroll if content overflows */
}

table{
    width: 100%;
    margin-top: 5px;
    
}
.topRow{
    /* font + text */
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 80%;
    text-decoration: rgb(135,102,138);
    background-color: #FBFAFA;
    
    

    /* color + background */
    color: #87688A;

    position: sticky;
    
    background-color: #FBFAFA;

    
    text-align: center;

    
}
/* CLUB INFO PAGE WHEN TEAM IS CLICKED ON */



.clubInfo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 25px;
    
    width: 100%; /* Ensure it spans the full width of the container */
    background-color: #f0f0f0; /* Example background color, adjust as needed */
    
}

.clubInfo img {
    margin-right: 15px; /* Space between the logo and the club name */
    height: 250px; /* Adjust logo size as needed */
    width: auto;
}

.clubInfo h1 {
    margin: 0;
    font-size: 2rem;
    line-height: 1.2; /* Adjust line height for better vertical alignment */
}

.matchLogo {
    width: 25px;  /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the defined area without distortion */
}
ul{
    list-style-type: none;
    font-size: 22px;
    text-align: center;

   
}
td{
    
    vertical-align: top; /* Aligns content at the top of the cell */
    padding-top: 5px;
}
.matchesCol{
    width: 33%;
}

.needPlayCol{
    width: 33%;
}




/* phone screen accounts for  */


@media only screen and (max-width: 768px) {
    .topRow th{
        font-size: 12px; /* Adjust font size for mobile */
        white-space: normal; /* Ensure wrapping is enabled */
        word-break: break-word; /* Break words to fit within the cell */
    }
    .clubInfo {
        padding: 10px 0 10px 20px; /* Reduce padding */
        font-size: 0.8rem; /* Scale down font size */
    }

    .clubInfo img {
        height: 150px; /* Scale down logo size */
    }

    .clubInfo h1 {
        font-size: 1.5rem; /* Scale down team name size */
    }

    .matchLogo {
        width: 12px; /* Scale down match logo size */
        height: 12px; /* Scale down match logo size */
    }
    td{
        font-size: 10px; /* Scale down font size */
        
    }
    ul{
        font-size: 10px;
        text-align: center;
        padding: 5px;
        margin: 0;  
    }
    
    th{
        font-size: 12px;
        
        
    
    }
    .matchesCol{
        width: 50%;
    }

    .needPlayCol{
        width: 25%;
    }
    table {
        display: block; /* Make the table block for horizontal scrolling */
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent text from wrapping */
    }

}
